[Unit]
Description=XRemap
After=default.target

[Service]
ExecStart=/home/jin/.cargo/bin/xremap --watch=config %h/.config/xremap/config.yml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
